@tailwind base;
@tailwind components;
@tailwind utilities;

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  color: #FFBB98;
  text-decoration: underline;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;text-align: center;
}

.borderCircle {
  border-radius: 9999px;
  margin: 1vh auto;
}

.colorInherit {
  color: rgb(174, 132, 132);
  font-size: 1rem;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #FBE0C3;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: underline;
  text-decoration-color: rgb(53, 55, 55);
}

.sentences{
  color: #F8F0E5;
}

.footTitle h4{
  color: #DAC0A3;
}